<%%- model_class = <%= resource_name.classify %> -%>
<div class="box-body">
  <div class="fieldset">
    <dl>
      <%- columns.each do |column| -%>
        <dt class="label label-default"><%%= model_class.human_attribute_name(:<%= column.name %>) %></dt>
        <dd><pre class="prettyprint"><%%= @<%= resource_name %>.<%= column.name %> %></pre></dd>
      <%- end -%>
    </dl>
  </div>
</div>

<div class="clearfix"></div>
  <div class="box-footer">
    <div class=" pull-right">
      <%%= link_to <%= controller_routing_path %>_path, class: "btn btn-danger btn-sm btn-flat" do %>
        <i class="fa fa-ban fa-fw"></i> <%%= t('helpers.links.cancel') %>
      <%% end %>      
      
      <%%= link_to edit_<%= singular_controller_routing_path %>_path(@<%= resource_name %>), class: "btn bg-yellow-active btn-sm btn-flat" do %>
        <i class='fa fa-edit fa-fw'></i> <%%= t('.edit', default: t("helpers.links.edit")) %>
      <%% end %>
    </div>
  </div>
</div>
